{% extends 'frontendTemplates/layouts/webplayer/frame.html' %}
{% load static %}
{% block title %}
Spotify | WebPlayer
{% endblock title %}

{% block main-content %}
{% load static %}
<section id="section-main">
    <div class="filterNav">
        <a href="{% url 'player-index-id' sid=song.id %}" class="filterNav-link active">Featured</a>
        <a href="{% url 'player-category' sid=song.id %}" class="filterNav-link">Categories</a>
        <a href="{% url 'player-genre' sid=song.id %}" class="filterNav-link">Genre</a>
        <a href="{% url 'player-mood' sid=song.id %}" class="filterNav-link">Mood</a>
        <a href="{% url 'player-artist' sid=song.id %}" class="filterNav-link">Artist</a>
        <a href="{% url 'player-favorites' sid=song.id %}" class="filterNav-link">Favorites</a>
    </div>
    <div class="music">
        <div class="music-page">
            <div class="music-head">
                <div class="music-head-item">
                    <h1>New Releases</h1>
                </div>
            </div>
            <div class="music-row">

                {% for row in data %}

                <a href="{% url 'player-index-id' sid=row.song.id %}" class="music-col">
                    <div class="music-img">
                        {% static './images/home.jpg' as baseUrl %}
                        <img src="{{ baseUrl|cut:'.jpg' }}{{ forloop.counter }}.jpg " alt="">
                        <button class="music-playBtn">
                            <img src='{% static "./images/play.svg" %}' alt="play">
                        </button>
                    </div>
                    <h3>{{ row.title }}</h3>
                    <h5>{{ row.song.artist.artists_name }}</h5>
                </a>

                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock main-content %}