{% extends 'adminTemplates/layouts/layout-dashboard.html' %}
{% block title %}
Admin Dashboard | Moods Add
{% endblock title %}

{% block main-section %}

{% if messages %}
<div class="alert alert-success" role="alert">
  {% for msg in messages %}
  <b>{{ msg }}</b>
  <br>
  {% endfor %}
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="main-section">
        <h2 class="content-heading">Add a New Mood</h2>

        <div class="row">
          <div class="col-6">
            <form action="{% url 'admin.moods.save' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Mood Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
              </div>
          </div>
          <div class="col-6">
            <form>
              <div class="form-group">
                <label for="description">Mood Description</label>
                <input type="text" name="description" class="form-control" id="description"
                  placeholder="Enter a Description">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-outline-dark "
              onclick="location.href = '{% url 'admin.moods.index' %}'">Discard</button>

          </div>
        </div>

        </form>

      </div>
    </div>


  </div>
</div>
</div>
</div>
{% endblock main-section %}