{% extends 'adminTemplates/layouts/layout-dashboard.html' %}
{% block title %}
Admin Dashboard | Homepage Record List
{% endblock title %}

{% block main-section %}

{% if messages %}
<div class="alert alert-success" role="alert">
    {% for msg in messages %}
    <b>{{ msg }}</b>
    <br>
    {% endfor %}
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="main-section">
                <h2 class="content-heading">All Homepage Records</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SL No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Artist Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>{{row.title}}</td>
                            <td>{{row.song.song_name}}</td>
                            <td>{{row.song.artist.artists_name}}</td>
                            <td>
                                <a href="{% url 'admin.homepage.edit' id=row.id %}" class="badge badge-info">Edit</a>
                                <a href="{% url 'admin.homepage.delete' id=row.id %}" class="badge badge-danger"
                                    onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
{% endblock main-section %}